<div class="main-container">
    <nav class="uk-navbar-container uk-card-default">
        <div class="uk-container ">
            <div uk-navbar>
    
                <div class="uk-navbar-left">
    
                    <ul class="uk-navbar-nav">
                        <li class="uk-active"><a href=".#">Home</a></li>
                    </ul>
    
                </div>
                <div class="uk-navbar-right">
    
                    <ul class="uk-navbar-nav">
                        <li>
                            <a (click)="logout()">Log out</a>
                        </li>
                    </ul>
                </div>
    
            </div>
        </div>
    </nav>
    <div class="uk-flex uk-flex-center uk-margin" *ngFor="let user of userData">
        <div class="uk-card uk-card-default uk-card-hover uk-card-body uk-width-1-2@m uk-width-1-2@s">
            <h3 class="uk-card-title">{{user.user_firstname}} {{user.user_lastname}}</h3>
           <div>
            <ul class="uk-margin-remove uk-padding-remove">
                <li>{{user.user_email}}</li>
                <li>{{user.user_phone}}</li>
                <li>{{user.user_city}}</li>
                <li>{{user.user_zipcode}}</li>
            </ul>
           </div>
        </div>
    </div>

</div>
